@use "@angular/material" as mat;
@use "./app/styles/m3-theme.scss" as photonTheme;
@include mat.core();

:root {
  @include mat.all-component-themes(photonTheme.$light-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
